:javascript
  $('.nav.nav-list li.active').removeClass('active');
  $('.nav.nav-list li[data-model="#{@abstract_model.to_param}"]').addClass('active');

/ %title= "#{@abstract_model.try(:pretty_name) || @page_name}}"
.row
  .col-md-12#breadcrumb
    = breadcrumb

.col-xs-12.col-sm-12
  .box.ui-draggable.ui-droppable
    .box-header
      .box-name
        %i.fa.fa-search
        %span= @page_name
      .box-icons
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.expand-link
          %i.fa.fa-expand
        %a.close-link
          %i.fa.fa-times
    .box-content
      .innerLR
        .widget.widget-tabs
          .widget-head
            %ul.tabs
              = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
              = content_for :contextual_tabs
          .widget-body
            .tab-content
              - flash && flash.each do |key, value|
                .alert{:class => "alert-#{key}"}
                  %a.close{:href => '#', :'data-dismiss' => "alert"}×
                  = value
              = yield