.row
  #breadcrumb.col-md-12
    %ol.breadcrumb
      %li
        = link_to "Usuarios", dashboard_path
      %li
        = link_to "Perfil de Usuario", facturas_path


= render partial: 'shared/flash_messages'
.col-xs-12.col-sm-12
  .box.ui-draggable.ui-droppable
    .box-header
      .box-name
        %i.fa.fa-search
        %span Perfil de Usuario
      .box-icons
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.expand-link
          %i.fa.fa-expand
        %a.close-link
          %i.fa.fa-times
      .no-move
    .box-content
      .row
        .col-sm-8
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            %div
              = f.label :username
              %br/
              = f.text_field :username, autofocus: true,  class: "form-control"
            %br/
            %div
              = f.label :email
              %br/
              = f.email_field :email,  class: "form-control"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            %br/
            %div
              = f.label :password
              %i (Deja en blanco si no la quieres cambiar)
              %br/
              = f.password_field :password, autocomplete: "off",  class: "form-control"
            %br/
            %div
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "off",  class: "form-control"
            %br/
            %div
              = f.label :current_password
              %i (Necesitamos tu contraseña actual para confirmar el cambios)
              %br/
              = f.password_field :current_password, autocomplete: "off",  class: "form-control"
            %br/
            %br/
            %div= f.submit "Actualizar", class: "btn btn-success"
