.row
  #breadcrumb.col-md-12
    %ol.breadcrumb
      %li
        = link_to "Consumo", dashboard_path
      %li
        = link_to "Estado de Cuenta", estado_cuenta_path


= render partial: 'shared/flash_messages'
.col-xs-12.col-sm-12
  .box.ui-draggable.ui-droppable
    .box-header
      .box-name
        %i.fa.fa-search
        %span Estado de Cuenta
      .box-icons
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.expand-link
          %i.fa.fa-expand
        %a.close-link
          %i.fa.fa-times
      .no-move
    .box-content
      = hidden_field_tag :acertadas, @acertadas.count
      = hidden_field_tag :fallidas, @fallidas.count
      .row
        .col-sm-5
          %h4.page-header Resumen de la Cuenta
          = "Ultima Facturación: #{@ultima_factura.fecha_hasta}"
          %br
          = "Creditos: #{Credito.cantidad_de_creditos_por_cliente(current_user.usuario.cliente.id_cliente)}"
          %br
          = "Clientes: #{ClientePersona.personas_por_cliente(current_user.usuario.cliente.id_cliente)}"
        .col-sm-5
          %h4.page-header 
            = "Resumen de Consultas (Desde #{@ultima_factura.fecha_hasta.next_day})"
          #graf-estado-cuenta
        .col-sm-4
          %h4.page-header Detalle de Consultas
          %h5 Acertadas
          %table.table.table-hover
            %thead
              %tr
                %th Usuario
                %th Cliente
                %th Fecha
            %tbody
              - @acertadas.each do |acertada|
                %tr
                  %td= acertada.usuario.nombre_completo unless acertada.usuario.nil?
                  %td= acertada.id_persona
                  %td= acertada.fecha_hora
        .col-sm-4
          %h4.page-header Detalle de Consultas
          %h5 Fallidas
          %table.table.table-hover
            %thead
              %tr
                %th Usuario
                %th Cliente
                %th Fecha
            %tbody
              - @fallidas.each do |fallida|
                %tr
                  %td= fallida.usuario.nombre_completo unless fallida.usuario.nil?
                  %td= fallida.id_persona
                  %td= fallida.fecha_hora

          
