.row
  #breadcrumb.col-md-12
    %ol.breadcrumb
      %li
        = link_to "Importar", dashboard_path
      %li
        = link_to "Importar Registros de Información Crediticia", importar_registros_path


= render partial: 'shared/flash_messages'
.col-xs-12.col-sm-12
  .box.ui-draggable.ui-droppable
    .box-header
      .box-name
        %i.fa.fa-search
        %span Importar Información Crediticia
      .box-icons
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.expand-link
          %i.fa.fa-expand
        %a.close-link
          %i.fa.fa-times
      .no-move
    .box-content
      / %h5.page-header Registros Actualizados en los ultimos 30 días
      / .row
      /   .col-sm-2
      /     %h5 10 Registros
      %h5.page-header Agregar Nuevos Registros Crediticios
      = form_tag(importar_registros_path) do
        .row
          .col-sm-12
            %table.table.beauty-table.table-hover.grid-import
              %thead
                %tr
                  %th Cedula
                  %th Nombre
                  %th Apellido
                  %th Factura
                  %th Fecha Compra
                  %th Pago Mensual
                  %th Giros
                  %th Monto
                  %th Experiencia
              %tbody
                - @creditos.each_with_index do |cre, i|
                  = fields_for "credito[#{i}]", cre do |c|
                    %tr{class: "#{cre.errors.count>0 ? 'bg-danger' : ''}"}
                      = c.fields_for :cliente_persona do |cli|
                        = cli.fields_for :persona_natural do |per|
                          %td
                            = per.text_field :cedula, placeholder: "Cedula", :class => "seach_persona"
                            = cli.hidden_field :id_cliente_persona
                            = c.hidden_field :id
                          %td
                            = per.text_field :nombre, placeholder: "Nombre"
                          %td
                            = per.text_field :apellido, placeholder: "Apellido"
                          %td
                            = c.text_field :factura, placeholder: "Nro Factura", class: "seach_factura"
                          %td
                            = c.text_field :fecha_compra, placeholder: "Fecha Factura", class: "fechas"
                          %td
                            = c.text_field :pago_mes, placeholder: "Pago Mensual"
                          %td
                            = c.text_field :num_giros, placeholder: "Nro Giros"
                          %td
                            = c.text_field :monto, placeholder: "Monto Total"
                          %td
                            = c.select :experiencia, options_for_select(Credito::EXPERIENCIAS, c.object.experiencia)
          / .col-sm-2
          /   = text_field_tag :cedula, "", class: "form-control", placeholder: "Nro. Cédula."
        .row
          .col-sm-2
            = button_to "Nuevo Registro", "#", class: "btn btn-info new-row"
          .col-sm-8
          .col-sm-1
            = submit_tag "Guardar", class: "btn btn-success"
  
